<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <!--<customErrors mode="On" defaultRedirect="Error.html" redirectMode="ResponseRewrite" >
      <error statusCode="403" redirect="/Error403"/>
      <error statusCode="404" redirect="/Error404"/>
      <error statusCode="500" redirect="/Error"/>
    </customErrors>-->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>

	  <httpErrors errorMode="Custom" existingResponse="Replace">
		  <remove statusCode="403" />
		  <error statusCode="403" responseMode="ExecuteURL" path="/Error/403" />
		  <remove statusCode="404" />
		  <error statusCode="404" responseMode="ExecuteURL" path="/Error/404" />
		  <remove statusCode="500" />
		  <error statusCode="500" responseMode="ExecuteURL" path="/Error" />
	  </httpErrors>

  </system.webServer>
</configuration>